[alias]
	b     = branch
	ci    = commit
	co    = checkout
	d     = diff
	st    = status
	l     = log --graph
	lp    = log --graph --first-parent
[user]
	email = prashant@prashantv.com
	name = Prashant V
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[help]
	autocorrect = 5
