{{/* defaultDict is not empty so "with" isn't skipped */}}
{{- $defaultDict := dict "_" "_" -}}

[data.git]
  {{- with (. | dig "git" $defaultDict) }}
  name = {{ . | dig "name" "Prashant V" | quote }}
  email = {{ . | dig "email" "prashant@prashantv.com" | quote }}
  {{- end }}

[data.features]
  profile = "{{ . | dig "features" $defaultDict | dig "profile" .chezmoi.hostname }}"

  # tools
  {{- with (. | dig "features" $defaultDict) }}
  age = {{ . | dig "age" false }}
  bat = {{ . | dig "bat" false }}
  delta = {{ . | dig "delta" false }}
  fd = {{ . | dig "fd" false }}
  fx = {{ . | dig "fx" false }}
  gojq = {{ . | dig "gojq" false }}
  gron = {{ . | dig "gron" false }}
  hx = {{ . | dig "hx" false }}
  jqp = {{ . | dig "jqp" false }}
  nvim = {{ . | dig "nvim" false }}
  rg = {{ . | dig "rg" false }}
  sops = {{ . | dig "sops" false }}
  yq = {{ . | dig "yq" false }}
  {{- end }}
