{{/* defaultDict is not empty so "with" isn't skipped */}}
{{- $defaultDict := dict "_" "_" -}}

["data.git"]
  {{- with (. | dig "git" $defaultDict) }}
  name = {{ . | dig "name" "Prashant V" | quote }}
  email = {{ . | dig "email" "prashant@prashantv.com" | quote }}
  {{- end }}

["data.features"]
  {{- with (. | dig "features" $defaultDict) }}
  age = {{ . | dig "age" false }}
  bat = {{ . | dig "bat" false }}
  fd = {{ . | dig "fd" false }}
  rg = {{ . | dig "rg" false }}
  yq = {{ . | dig "yq" false }}
  {{- end }}
